/* Fix the size of the carousel */
.carousel, .carousel-inner, .carousel-item {
    width: 100%; /* You can specify a fixed width like 800px if necessary */
    height: 100%; /* Define a fixed height for the carousel */
}

/* Ensure that the video inside the carousel fits the fixed container */
.carousel video {
    width: 100%; /* Set video width to 100% of the carousel */
    height: 100%; /* Ensure the video height matches the carousel height */
    object-fit: cover; /* Scale the video to cover the entire carousel without distortion */
}

/* Page Container */
.container {
    position: relative;
    border-radius: 15px;
    justify-content: center;
    padding: 5%;
    z-index: 1;
}

/* Page Title */
.title {
    font-size: 72px;
    font-family: 'DM Sans';
    font-weight: bolder;
    color: var(--color-red);
    padding-bottom: 5%;
}

/* Project Card Grid */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 60px;
    padding-bottom: 5%;
}

/* Project Card */
.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 47%;
    position: relative; /* Add this line */
    padding-bottom: 50px; /* Add some padding to accommodate the button */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Project Card Hover Animation
.projectCard:hover {
    background-size: 100% 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}*/

/* Project Title */
.projectTitle {
    font-size: 24px;
    font-weight: 1000;
    font-family: "DM Sans";
    font-weight: bolder;
    color: var(--color-red);
}

/* Project Technologies */
.subtitle {
    color: var(--color-peri);
}
/* Project Contributors */
.contributors {
    font-size: 14px;
}

/* Project Description */
.bodyli {
    padding-bottom: 2%;
}

/* Project Github Repo Button */
.githubLink {
    text-align: center;
    text-decoration: solid;
    background-color: var(--color-peri);
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute; /* Add this line */
    bottom: 10px; /* Adjust as needed */
}

/* Project Github Repo Button Hover Animation */
.githubLink:hover {
    background-color: var(--color-peri-hover);
}

/* Project Container */
.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5%;
    list-style: none;
}

/* Project Text Container */
.textContainer {
    float: right;
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    background-image: linear-gradient(180deg, var(--color-secondary) 0%, rgba(0, 13, 80, 0) 100%);
}

/* Project Log Line */
.logLine {
    line-height: normal;
}

/* External Link Text */
.link {
    color: var(--color-peri);
}

@media (max-width: 1200px) {
    /* Project Card */
    .projectCard {
        width: 45%;
    }
}

@media (max-width: 800px) {
    /* Project Container */
    .project {
        flex-direction: column;
        padding-top: 0%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    /* Project Text Container */
    .textContainer {
        float: right;
        max-width: 100%;
        padding: 25px;
        border-radius: 10px;
        background-image: linear-gradient(180deg, var(--color-secondary) 0%, rgba(0, 13, 80, 0) 100%);
    }
    
    /* Page Container */
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Project Card Grid */
    .grid {
        display: flex;
        justify-items: center;
        flex-wrap: wrap;
        gap: 5%;
        row-gap: 50px;
        padding-bottom: 20px;
        padding-top: 50px;
    }

    /* Project Card */
    .projectCard {
        width: 100%;
    }

    /* Page Title */
    .title {
        font-size: 54px;
        text-align: center;
    }
}