@import "../../../vars.css";

/* About Page Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  width: 100%;
}

/* Text Container */
.textContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    max-width: 600px;
}

/* Page Title */
.title {
    margin-bottom: 5%;
}

/* Profile Description */
.description {
    font-size: var(--size-body);
    text-align: left;
}

/* Contact Title */
.contactTitle {
    margin-top: 5%;
}

/* List of Social Media Elements */
.socialsList {
    list-style: none;
    padding-top: 2%;
    padding-left: 0%;
}

/* Social Media Element */
.social {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    margin-bottom: 5%;
}

/* Social Media Image Icon Sizing */
.socialImage {
    width: 30px;
    height: 30px;
}

/* Social Media Text */
.socialText {
    text-align: left;
    text-decoration: none;
    color: var(--color-text);
}

/* Resume Text */
.resume {
    text-align: left;
    color: var(--color-text);
    font-weight: var(--weight-bold);
    text-decoration: none;
}

/* Social links */
.socialText {
  position: relative;
  text-decoration: none;
  color: var(--color-text);
}

.socialText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-peri);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.socialText:hover {
  color: var(--color-peri);
}

.socialText:hover::after {
  transform: scaleX(1);
}

/* Resume */
.resumeItem {
  list-style: none;
}

.resumeLink {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--color-text);
}

.resumeText {
  position: relative;
  font-weight: var(--weight-bold);
}

.resumeText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-peri);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.resumeLink:hover .resumeText {
  color: var(--color-peri);
}

.resumeLink:hover .resumeText::after {
  transform: scaleX(1);
}

/* Shared animated underline text */
.socialText,
.resume {
  color: var(--color-text);
  text-decoration: none;
  font-family: var(--font-roboto);
  font-weight: var(--weight-regular);
}

.resume {
    font-weight: var(--weight-bold);
    text-wrap: inherit;
}

/* Underline element */
.socialText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-peri);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

/* Hover animation */
.socialText:hover {
  color: var(--color-peri);
}

.socialText:hover::after {
  transform: scaleX(1);
}

/* Click feedback */
.socialText:active {
  opacity: 0.6;
}

.resumeText {
  position: relative;
  font-weight: var(--weight-bold);
}

/* Animated underline */
.resumeText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: var(--color-peri);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

/* Trigger animation when parent link is hovered */
.resume:hover .resumeText::after {
  transform: scaleX(1);
}

.resume:hover .resumeText {
  color: var(--color-peri);
}

/* Active state */
.resume:active {
  opacity: 0.6;
}

/* Profile Image Container */
.profileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  margin-bottom: 125px;
  margin-left: 50px;
  flex-shrink: 0;
}

/* Circular Image */
.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

/* Floating Animation */
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -15px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

@media screen and (max-width: 800px) {
    /* About Page Container */
    .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
        align-items: center;
        align-items: center;
        padding: 10%;
    }

    /* Text Container */
    .textContainer {
        text-align: center;
        align-items: center;
        max-width: 100%;
    }

    /* Page Title */
    .title {
        margin-top: 0;
    }

    /* Profile Description */
    .description {
        text-align: center;
    }

    /* Social Media Text */
    .socialText {
        text-align: center;
    }

    /* Resume Text */
    .resume {
        text-align: center;
    }

  .profileImage {
    width: 75vw;
    height: 75vw;
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .profileImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}