@import "../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-green);
    position: sticky;
    top: 0;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 5;
    opacity: 100%;
}

.menuBtn {
    width: 7%;
    display: none;
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-top: 10px;
}

.menuItems a {
    display: block;
    text-decoration: none;
    color: var(--color-text);
    font-family: 'DM Sans';
    font-weight: bolder;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: .1s;
}

.menuItems a:not(a[class="active"]):hover {
    /*color: var(--color-level3);*/
    opacity: 65%;
}

a[class="active"] {
    /*color: var(--color-level1);*/
    opacity: 50%;
}

@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        align-items: right;
    }

    .menu {
        position: absolute;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 10;
        background-image: linear-gradient(180deg, var(--color-secondary) 0%, rgba(0, 13, 80, 0) 100%);
        background-size: 100% 0;
        background-repeat: no-repeat;
        transition: 0.5s;
    }

    .menuBtn {
        display: block;
        margin-right: 10%;
        cursor: pointer;
        padding-top: 15px;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        gap: 13px;
        border-radius: 10px;
        background: var(--color-green);
        padding: 24px;
    }

    .menuItems:hover {
        background-size: 100% 100%;

    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }

    .menuItem {
        text-align: right;
    }
}