/* Body of Home Page */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Core Styling */
:root {
  --color-bg: rgb(255, 255, 255);
  --color1: 198, 205, 255;
  --color2: 235, 245, 104;
  --color3: 170, 235, 255;
  --color4: 235, 245, 104;
  --color5: 235, 245, 104;
  --color-interactive: 198, 205, 255;
  --circle-size: 80%;
  --blending: overlay;
}

/* Page Background And Bubbles */
.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: --color-bg;
  top: 0;
  left: 0;
  opacity: 50%;

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 30%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

/* Container for Foreground Content */
.foregroundContent {
  padding: 5%;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  left: 0;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  flex-direction: column;
}

/* Page Title */
.title {
  color: var(--color-red);
  font-family: 'DM Sans';
  font-weight: bolder;
  font-size: 126px;
}

/* Page Subtitle */
.subtitle {
  color: var(--color-peri);
  font-size: 24px;
  max-width: 50%;
}

/* Avatar Image */
.avatar {
  width: 300px;
  padding-top: 40px;
}

/* Avatar Image Hover Animation */
.avatar:hover {
  cursor: pointer;
}

/* Bubble Circular Movement */
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Bubble Vertical Movement */
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

/* Bubble Horizontal Movement */
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@media screen and (max-width: 800px) {
  /* Page Title */
  .title {
      font-size: 72px;
  }

  /* Page Subtitle */
  .subtitle {
    font-size: 18px;
    max-width: 75%;
  }
}