.homeRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden; /* Prevent overflow */
  position: relative; /* Establish positioning context */
}

.threeBlock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: auto; /* Allow clicks on the duck */
  overflow: hidden; /* Prevent any overflow */
}

.threeContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the container */
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.threeContainer canvas {
  display: block; /* Remove inline spacing */
  pointer-events: auto; /* Allow clicks on canvas */
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80vh;
  color: var(--color-text);
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 14%;
  position: relative;
  z-index: 1;
}

.name {
  color: var(--color-blue);
  font-family: var(--font-montserrat);
  font-weight: var(--weight-bold);
  font-size: 72px;
  line-height: 1.1;
}

.pitch {
  font-family: var(--font-montserrat);
  font-size: var(--size-body);
  font-weight: var(--weight-medium);
  color: var(--color-peri);
  margin-bottom: 5%;
}

.clickMe {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 125px;
  z-index: 10;
  pointer-events: none; /* Arrow shouldn't block clicks */
}


@media screen and (max-width: 1000px) {
  .threeContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%); /* Adjust vertical centering */
  }

  .clickMe {
    top: 385px;
    left: 60%;
    width: 125px;
  }
  
  .textContainer {
    padding-top: 15%;
    height: 75vh;
  }
  
  .name {
    font-size: 72px;
    line-height: 1.1;
  }
  
  .pitch {
    margin-bottom: 5%;
    max-width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .threeContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%); /* Adjust vertical centering */
  }

  .clickMe {
    top: 50%;
    left: 60%;
    width: 100px;
  }

  .textContainer {
    padding-top: 30%;
  }

  .name {
    font-size: 54px;
    line-height: 1.1;
  }
  
  .pitch {
    margin-bottom: 5%;
    max-width: 75%;
  }
}
