.threeContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80vh;
  color: var(--color-text);
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 14%;
}

.name {
  color: var(--color-red);
  font-family: 'DM Sans';
  font-weight: bolder;
  font-size: 108px;
  line-height: 1.1;
}

.pitch {
  color: var(--color-peri);
  font-family: 'DM Sans';
  font-size: 24px;
  margin-bottom: 5%;
  max-width: 50%;
}

.clickMe {
  position: absolute;
  top: 50%; /* adjust as needed */
  left: 55%;
  width: 150px; /* adjust size */
  z-index: 10;
}


@media screen and (max-width: 1000px) {
  .threeContainer {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: -1;
    pointer-events: none;
  }

  .clickMe {
    top: 43%;
    left: 60%;
    width: 125px;
  }
  .textContainer {
    padding-top: 15%;
    height: 75vh;
  }
  .name {
    color: var(--color-red);
    font-family: 'DM Sans';
    font-weight: bolder;
    font-size: 72px;
    line-height: 1.1;
  }
  
  .pitch {
    color: var(--color-peri);
    font-family: 'DM Sans';
    font-size: 18px;
    margin-bottom: 5%;
    max-width: 75%;
  }
}

@media screen and (max-width: 400px) {

  .threeContainer {
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    pointer-events: none;
  }


  .clickMe {
    top: 50%;
    left: 60%;
    width: 100px;
  }

  .textContainer {
    padding-top: 15%;
  }

  .name {
    font-size: 54px;
    line-height: 1.1;
  }
  
  .pitch {
    font-size: 14px;
    margin-bottom: 5%;
    max-width: 75%;
  }
}