.homeContainer {
    outline: red;
    position: relative;
    max-height: 100vh; /* Ensure it takes up at least the full viewport height */
    overflow-x: hidden; /* Prevent horizontal overflow */
    box-sizing: border-box; /* Include padding and border in the width and height */
  }
  
  .threeContainer {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 50vh; /* Set a maximum height to crop the model */
    overflow: hidden; /* Hide the overflowing part of the model */
    z-index: 1; /* Ensure this is above other content, including footer */
    box-sizing: border-box; /* Include padding and border in the width and height */
  }
  
  .headerContainer {
    position: relative;
    z-index: 2; /* Ensure this is above the 3D model */
    text-align: center; /* Center align the header text */
    margin-top: 20px; /* Add some space between the 3D model and the header */
  }
  
  .title {
    color: var(--color-red);
    font-family: 'DM Sans';
    font-weight: bolder;
    font-size: 108px;
    margin-bottom: 5%;
    z-index: 3;
    position: relative; /* Ensure z-index works correctly */
  }  