@import "../../../vars.css";

.grid {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 5%;
    padding-bottom: 5%;
    padding-top:  5%;
    max-width: 100%;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: row;
    width: 15%;
    position: relative;
    cursor: pointer;
    opacity: 1;
}

.expanded {
    position: fixed;
    justify-content: center;
    align-content: center;
    top: 15%;
    width: 75%;
    height: 75%;
    z-index: 10;
    transform: scale(1);
    box-shadow: none;
    opacity: 1;
    transform: translateY(-5px);
}

.expanded-enter {
    opacity: 0;
    transform: scale(0.95);
}

.expanded-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.expanded-exit {
    opacity: 1;
    transform: scale(1);
}

.expanded-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.container {
    position: relative;
    border-radius: 15px;
    padding: 5%;
    padding-top: 5%;
    z-index: 1;
}

.title {
    font-size: 72px;
    font-family: 'DM Sans';
    font-weight: bolder;
    color: var(--color-red);
    padding-bottom: 4%;
}

.content {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    border-radius: 20px;
    list-style: none;
}

.descOne {
    float: right;
    max-width: 40%;
    height: auto;
    padding: 25px;
    padding-top: 0%;
    border-radius: 10px;
    background-image: linear-gradient(180deg, var(--color-secondary) 0%, rgba(0, 13, 80, 0) 100%);
}

.bodyText {
    line-height: normal;
    padding: 0%;
    padding-bottom: 5%;
}

.descText {
    font-style: italic;
    line-height: normal;
}

.subtitle {
    color: var(--color-peri);
}

.projectTitle {
    font-size: 32px;
    font-weight: 1000;
    font-family: "DM Sans";
    font-weight: bolder;
    color: var(--color-red);
}

.carouselCap {
    font-size: 24px;
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 54px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        flex-direction: column-reverse;
        padding-top: 0%;
    }

    .container {
        padding-top: 10%;
    }

    .descOne {
        float: right;
        max-width: 100%;
        padding: 25px;
        border-radius: 10px;
        background-image: linear-gradient(180deg, var(--color-secondary) 0%, rgba(0, 13, 80, 0) 100%);
    }

    .bodyText {
        line-height: normal;
        text-align: center;
        padding-left: 0%;
        padding-bottom: 2%;
    }

    .descText {
        font-style: italic;
        line-height: normal;
        text-align: center;
        padding: 0%;
        padding-bottom: 2%;
    }
    
    .title {
        text-align: center;
    }

    .projectTitle {
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }
    
    .videoLeft {
        position: fixed;
        height: auto;
        max-width: 100%;
    }
    
    .descOne {
        padding: 5%;
        border-radius: 10px;
        background-image: linear-gradient(180deg, var(--color-secondary) 0%, rgba(0, 13, 80, 0) 100%);
    }
}