@import "../../../vars.css";

/* Page Section Container */
.container {
    position: relative;
    border-radius: 15px;
    padding: 5%;
    z-index: 1;
}

/* Page Title */
.title {
    font-size: 72px;
    font-family: 'DM Sans';
    font-weight: bolder;
    color: var(--color-red);
    padding-bottom: 5%;
}

/* Project Container */
.project {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    border-radius: 20px;
    list-style: none;
}

/* Project Text Container */
.textContainer {
    float: right;
    max-width: 40%;
    min-width: 40%;
    height: auto;
    border-radius: 10px;
    background-image: linear-gradient(180deg, var(--color-secondary) 0%, rgba(0, 13, 80, 0) 100%);
}

/* Project Title */
.projectTitle {
    font-size: 32px;
    font-weight: 1000;
    font-family: "DM Sans";
    font-weight: bolder;
    color: var(--color-red);
}

/* Project Technologies */
.subtitle {
    color: var(--color-peri);
}

/* Project Log Line */
.logLine {
    font-style: italic;
    line-height: normal;
}

/* External Link Text */
.link {
    color: var(--color-peri);
}

/* Grid of Project Thumbnails */
.grid {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 5%;
    padding-bottom: 10%;
    padding-top: 5%;
    max-width: 100%;
    margin: 0 auto;
}

.contributors {
    font-size: 14px;
}

/************************************* PROJECT ADDITIONAL MEDIA GRID *************************************/

/* Title Container in Expanded View */
.titleContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 11;
    color: white;
    background-color: var(--color-red);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Expanded Title Style */
.expandedTitle {
    margin: 0;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

/* Close Button Style */
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 12;
    width: 30px;
    background-color: var(--color-red);
    border-radius: 5px;
}

/* Item in Thumbnail Grid */
.thumbnail {
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: row;
    width: 15%;
    position: relative;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.thumbnailMedia {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.thumbnailTitle {
    position: absolute;
    bottom: -40px;
    width: 100%;
    padding: 8px 0;
    background: var(--color-red);
    color: white;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
}

.thumbnail:hover .thumbnailTitle {
    bottom: 0;
    opacity: 1;
}

/* Expanded View Styles */
.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    max-height: 80%;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    z-index: 10;
    overflow: hidden;
    position: relative;
}

/* Expanded Item Content */
.expanded video,
.expanded img {
    width: 100%;
    height: auto;
}

/* Overlay Style */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

/* Expanded Item Enter Start */
.expanded-enter {
    opacity: 0;
    transform: scale(0.95);
}

/* Expanded Item Enter End */
.expanded-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Expanded Item Exit Start */
.expanded-exit {
    opacity: 1;
    transform: scale(1);
}

/* Expanded Item Exit End */
.expanded-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/*********************************************************************************************************/

@media screen and (max-width: 800px) {
    /* Page Title */
    .title {
        font-size: 54px;
    }
}

@media screen and (max-width: 1000px) {
    /* Page Section Container */
    .container {
        padding-top: 5%;
    }

    /* Page Title */
    .title {
        text-align: center;
    }

    /* Project Container */
    .project {
        flex-direction: column-reverse;
        padding-top: 0%;
    }

    /* Project Text Container */
    .textContainer {
        float: right;
        max-width: 100%;
        padding: 25px;
        border-radius: 10px;
        background-image: linear-gradient(180deg, var(--color-secondary) 0%, rgba(0, 13, 80, 0) 100%);
    }

    /* Project Title */
    .projectTitle {
        text-align: center;
    }

    /* Project Technologies */
    .subtitle {
        text-align: center;
    }

    /* Project Log Line */
    .logLine {
        font-style: italic;
        line-height: normal;
        text-align: center;
        padding: 0%;
    }

    .thumbnailTitle {
        font-size: 14px;
        bottom: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        text-align: center;
    }    
}