@import "../../../vars.css";

.container {
    position: relative;
    border-radius: 15px;
    padding: 10%;
    padding-top: 5%;
    z-index: 1;
}

.title {
    font-size: 36px;
    letter-spacing: 1.76px;
    text-transform: uppercase;
}

.contentOne {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
}

.videoLeft {
    padding-right: 10%;
}

.descOne {
    padding-left: 5%;
}

.bodyText {
    line-height: normal;
    padding: 0%;
    padding-bottom: 5%;
}

.maya {
    color: var(--color-react);
}

.sp {
    color: var(--color-c);
}

.rigging {
    color: var(--color-javascript);
}

.animation {
    color: var(--color-java);
}

.subtitle {
    
    font-size: 24px;
    font-weight: bold;
    font-family: "Outfit";
    letter-spacing: 1.76px;
}