.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-bg);
}

.message {
  color: var(--color-text);
}

.socialList {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social a {
  display: flex;
  transition: opacity 0.2s ease;
}

.social a:hover {
  opacity: 50%;
}

.socialImage {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 800px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 25px;
        width: 100%;
        box-sizing: border-box;
        gap: 50px;
    }
}