@import "./vars.css";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@coreui/coreui/dist/css/coreui.min.css';

.App {
  height: 100%;
  width: 100%;
  color: var(--color-text);
  font-size: 18px;
  background-color: var(--color-bg);
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}