@import "./vars.css";

.App {
  background-color: var(--color-bg);
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18px;
  background: linear-gradient(180deg, var(--color-dark), #0b1546);
}