@import "./vars.css";

.App {
  background-color: var(--color-bg);
  height: 100%;
  width: 100%;
  color: var(--color-text);
  font-size: 18px;
  background: linear-gradient(180deg, var(--color-bg-gradient1), var(--color-dark));
}