@import "./vars.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--color-peri) white;
  font-family: var(--font-roboto);
  font-size: var(--size-body);
  font-weight: var(--weight-regular);
}

body {
  background: var(--color-dark);
}

h1 {
  font-family: var(--font-montserrat);
  font-weight: var(--weight-bold);
  color: var(--color-blue);
  font-size: var(--size-h1);
}

h2 {
  font-family: var(--font-montserrat);
  font-weight: var(--weight-bold);
  color: var(--color-green);
  font-size: var(--size-h2);
}

h3 {
  font-family: var(--font-montserrat);
  font-weight: var(--weight-bold);
  color: var(--color-green);
  font-size: var(--size-h3);
}
