@import "./vars.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  scrollbar-color: var(--color-scrollBar) var(--color-dark);
}

body {
  background: var(--color-dark);
}