:root {

    /* Colors */
    --color-text: rgb(21, 34, 61);
    --color-peri: rgb(141, 154, 255);
    --color-peri-hover: rgb(198, 205, 255);
    --color-green: rgb(235, 245, 104);
    --colorss-bg: #e2eef3;
    --color-red: rgb(255, 109, 64);

    /* Fonts */
    --font-roboto: "Roboto";
}