:root {
    /* Colors */
    --color-text: #fff;
    --color-java: #FF3333;
    --color-react: #29D9FF;
    --color-javascript: #FFE924;
    --color-c: #4CDB35;
    --color-link: #0085FF;
    --color-bg: #000000;
    --color-secondary: #152a92;

    /* Fonts */
    --font-roboto: "Roboto";
}